.toggle {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.toggle-handle {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-in-out;
}

.toggle.on {
    background-color: #4ec51c;
}

.toggle.on .toggle-handle {
    transform: translateX(20px);
}

.toggle.off {
    background-color: #ccc;
}

.toggle.off .toggle-handle {
    transform: translateX(0);
}