.App {
  position: relative;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 63px;
  background-color: #282c34;
}

.ant-layout .ant-layout-sider-children {
  height: "100vh";
  position: sticky;
  top: 0px;
}